body{
background:url(images/background.jpg);
background-color:#6797AE;
background-repeat:repeat-x;
}

#mainDiv, #wordsGrid, #wordsGrid, #optionsDiv, #memorizeDiv, #instructionDiv, #noWordsDiv, #checkLearnDiv {
margin:10px auto 0px auto;
width:770px;
}

#hintDiv{
margin:0px auto 0px auto;
width:770px;
}

#donate{
  color: #333;
  line-height: 150%;
}

#donate img{
  margin:auto !important;
  display: block;
}

/* icons used in the toolbar */
.showAll {
  background-image:url(images/showAll.png) !important;
}
.showNotMemorized {
  background-image:url(images/showNotMemorized.png) !important;
}

.newWord {
  background-image:url(images/newWord.gif) !important;
}

.memorizeInstruction{
	font-size:15px;
}

.x-panel-body{
	opacity: .9;
}

#memorizeDiv input{
	border:0px;
}

#memorizeDiv button{
	border:0px;
}

#memorizeDiv  #originalLang, #memorizeDiv  #translatedLang {
	font-size:18px;
	color:#A65E34;
	height: auto;
}

#memorizeDiv  #original, #memorizeDiv  #translated {
	font-size:20px;
	color:#325E97;
	font-weight:normal;
	height: auto;
}

#memorizeDiv .x-panel-btns{
	background-color:#fff;
	border-left:1px solid #99BBE8;
	border-right:1px solid #99BBE8;
	border-bottom:1px solid #99BBE8;
	opacity: .9;
}

#learnLink {
        color: #F00;
}